# Build output
.astro/
dist/

# Dependencies
node_modules/

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.production

# Git-specific files
.git/
.gitconfig
.gitignore

# Temporary/system files
.DS_Store
*.cache
*.swp
*.tmp
desktop.ini
icon.d.ts
Thumbs.db
tmp/
