{
  "printWidth": 999999,
  "tabWidth": 2,
  "useTabs": false,
  "plugins": [
    "prettier-plugin-astro"
  ],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
